In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from keras.utils.np_utils import to_categorical # convert to one-hot-encoding
from keras.models import Sequential, model_from_json
from keras.layers import Dense, Dropout, Flatten, Conv2D, MaxPool2D
from keras.preprocessing.image import ImageDataGenerator

Using TensorFlow backend.

In [2]:
with open("model.json", "r") as json_file:
    model_json = json_file.read()
model = model_from_json(model_json)

In [3]:
model.load_weights('model.h5')

In [4]:
test = pd.read_csv('digits/test.csv')
test = test/255
test = test.values.reshape(-1, 28, 28 ,1)
test.shape

(28000, 28, 28, 1)

In [5]:
results = model.predict(test)
results = np.argmax(results,axis = 1)

In [6]:
submission = pd.DataFrame()
submission['ImageId'] = np.array(range(results.shape[0])) + 1
submission['Label'] = results
submission

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      0
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]

In [7]:
submission.to_csv('digits/gpu.csv', index = False)